{% extends "front-end/eden/base.html.twig" %}

{% block jsfiles %}

{% endblock %}

{% block jshead %}

{% endblock %}

{% block body %} 

    <div class="main-content">
        
        <div class="patches">
            
            <h1>Patch notes</h1>

            <h2>
                Patch note 0001
            </h2>

            <div class="news-content">

                <p>
                    Découvrez le contenu du <a href="/patchnote-0001">pach note 0001</a> !
                </p>

            </div>

        </div>

    </div>

{% endblock %}

{% block javascripts %}

{% endblock %}