{% extends "front-end/eden/base.html.twig" %}

{% block body %} 

    <div class="main-content">

        <div class="left-main-content">
            
            <div class="announce">

                <h2>Announces</h2>

                <h3>
                    Bienvenue sur edeneteral.to !
                </h3>

                <div class="announce-content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>

            <div class="news">
                <h2>NEWS</h2>

                <h3>
                    le pack pour les nouveaux joueurs est là !
                </h3>
                <div class="news-content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    </p>
                </div>

                <h3>
                    le pack pour les nouveaux joueurs est là !
                </h3>
                <div class="news-content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    </p>
                </div>
            </div>

            <div class="patches">
                <h2>Patches note</h2>

                <h3>
                    Patch note 1
                </h3>
                <div class="news-content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    </p>
                </div>

                <h3>
                    Patch note 2
                </h3>
                <div class="news-content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    </p>
                </div>
            </div>

        </div>

        <div class="right-main-content">

            <div class="links-menu">

                <div class="item-link">
                    <a href="/register">
                        <div class="icon-link">
                            <i class="fas fa-user-circle"></i>
                        </div>
                        <div class="text-link">
                            Créer son compte
                        </div>
                    </a>
                    <a href="/register">
                        <div class="icon-link" >
                            <i class="fas fa-cloud-download-alt"></i>
                        </div>
                        <div class="text-link">
                            Télécharger
                        </div>
                    </a>
                    <a href="https://discord.gg/nADfGhH" target="_blank">
                        <div class="icon-link">
                            <i class="fab fa-discord"></i>
                        </div>
                        <div class="text-link">
                            Discord
                        </div>
                    </a>
                    <a href="https://edenfr.wordpress.com/" target="_blank">
                        <div class="icon-link">
                            <i class="fas fa-info-circle"></i>
                        </div>
                        <div class="text-link">
                            Wiki
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

