{% extends "front-end/eden/base.html.twig" %}

{% block body %} 

    <div class="main-content">

        <div class="left-main-content">
            
            <div class="announce">

                <h2>Announces</h2>

                <h3>
                    Bienvenue sur edeneteral.to !
                </h3>

                <div class="announce-content">
                    <p>
                        Bonjour à tous et bienvenue !
                    </p>
                    <p>
                        L'équipe edeneternal.to espère que vous aimerez votre expérience au sein de ce nouveau serveur.
                    </p>
                    <p>
                        Configuration serveur : 
                    </p>
                    <ul>
                        <li>- Taux d'exp personnage : * 2 </li>
                        <li>- Taux d'exp classe : * 2 </li>
                        <li>- Taux de loot : custom </li>
                        <li>- Taux de gold : * 2 </li>
                    </ul>
                </div>
            </div>

            <div class="news">
                <h2>NEWS</h2>

                <h3>
                    Future contenu à venir !
                </h3>
                <div class="news-content">
                    <p>
                        Voici une liste non-exhaustive des potentielles changements à venir :
                    </p>
                    <ul>
                        <li>- Diminution du temps de respawn des WB : 1 heure -> 30 minutes </li>
                        <li>- Ajout de deux WB sur chaque maps</li>
                        <li>- Mise en place de l'autel de gemmes</li>
                        <li>- Augmentation des points de vies de élites</li>
                        <li>- Envoie des packs pour 
                    </ul>
                </div>

                <h3>
                    Aperçu du contenu du future pack des nouveaux joueurs !
                </h3>
                <div class="news-content">
                    <p>
                        Voici une liste non-exhaustive des potentielles objects dans ce future pack :
                    </p>

                    <ul>
                        <li>- 50 CE (non-écheangable)</li>
                        <li>- Des pierres de sécurité ! (non-échangeable) </li>
                            <ul>
                                <li>• 5 Fétiches normales</li>
                                <li>• 5 Fétiches férégale</li>
                                <li>• 5 Fétiches hurlevent</li>
                                <li>• 5 Fétiches noireflamme</li>
                            </ul>
                        <li>- Des parchemins</li>
                        <li>- 1 fashion exceptionnelle (Homme ou Femme)</li>
                        <li>- 1 monture exceptionnelle</li>
                    </ul>

                </div>
            </div>

            <div class="patches">
                <h2>Patches note</h2>

                <h3>
                    Information générales des patches notes
                </h3>
                <div class="news-content">
                    <p>
                        Les patches notes concerneront principalements :
                        <ul>
                            <li>- Ajout de nouveau contenu </li>
                            <li>- Ajustements des classes </li>
                            <li>- Changement sur les loots dans les donjons et autres </li>
                            <li>- Etc...</li>
                    </p>
                </div>
                
            </div>

        </div>

        <div class="right-main-content">

            <div class="links-menu">

                <div class="item-link">
                    <a href="/register">
                        <div class="icon-link">
                            <i class="fas fa-user-circle"></i>
                        </div>
                        <div class="text-link">
                            Créer son compte
                        </div>
                    </a>
                    <a href="/register">
                        <div class="icon-link" >
                            <i class="fas fa-cloud-download-alt"></i>
                        </div>
                        <div class="text-link">
                            Télécharger
                        </div>
                    </a>
                    <a href="https://discord.gg/nADfGhH" target="_blank">
                        <div class="icon-link">
                            <i class="fab fa-discord"></i>
                        </div>
                        <div class="text-link">
                            Discord
                        </div>
                    </a>
                    <a href="https://edenfr.wordpress.com/" target="_blank">
                        <div class="icon-link">
                            <i class="fas fa-info-circle"></i>
                        </div>
                        <div class="text-link">
                            Wiki
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

