{% extends "front-end/eden/base.html.twig" %}

{% block body %} 

    <div class="main-content">

        <div class="left-main-content">
            
            <div class="news">

                <h1>NEWS</h1>

                {% include "front-end/eden/announces/announce-3.html.twig" %}
                {% include "front-end/eden/announces/announce-2.html.twig" %}
                {% include "front-end/eden/announces/announce-1.html.twig" %}

            </div>

            <div class="patches">
            
                <h1>Patch notes</h1>

                <h2>
                    Patch note 0001
                </h2>

                <div class="news-content">

                    <p>
                        Découvrez le contenu du <a href="/patchnote-0001">pach note 0001</a> !
                    </p>

                </div>

            </div>

        </div>

        <div class="right-main-content">

            <div class="links-menu">

                <div class="item-link">
                    <a href="/register">
                        <div class="icon-link">
                            <i class="fas fa-user-circle"></i>
                        </div>
                        <div class="text-link">
                            Créer son compte
                        </div>
                    </a>
                    <a href="http://www.mediafire.com/file/5srvtbu37og9eyg/FinalVersion.rar/file" target="_blank">
                        <div class="icon-link" >
                            <i class="fas fa-cloud-download-alt"></i>
                        </div>
                        <div class="text-link">
                            Télécharger
                        </div>
                    </a>
                    <a href="https://discord.gg/nADfGhH" target="_blank">
                        <div class="icon-link">
                            <i class="fab fa-discord"></i>
                        </div>
                        <div class="text-link">
                            Discord
                        </div>
                    </a>
                    <a href="https://edenfr.wordpress.com/" target="_blank">
                        <div class="icon-link">
                            <i class="fas fa-info-circle"></i>
                        </div>
                        <div class="text-link">
                            Wiki
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

