<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}{% endblock %}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/icons.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/resume.css">
    <link rel="stylesheet" href="css/modal.css">

</head>
<body class="resume">

{% block navigation %}

    {% include 'front-end/navigation/navigation.html.twig' %}

{% endblock %}

<div class="main">
    {% block body %}
        {% include 'front-end/templates/resume/header.html.twig' %}
        {% include 'front-end/templates/resume/experience.html.twig' %}
    {% endblock %}
</div>

<!-- Trigger/Open The Modal -->
<button id="myBtn">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Modal Header</h2>
        </div>
        <div class="modal-body">
            <p>Some text in the Modal Body</p>
            <p>Some other text...</p>
        </div>
        <div class="modal-footer">
            <h3>Modal Footer</h3>
        </div>
    </div>

</div>

{% block javascripts %}

    <script src="http://www.dynamicpress.eu/envato/activia_main/wp-content/cache/busting/1/envato/activia_main/wp-includes/js/jquery/jquery-1.12.4-wp.js"></script>
    <script src="https://nicescroll.areaaperta.com/wp-content/plugins/jnicescroll/js/jquery.nicescroll.min.js"></script>

    <script>

        (function($) {

            $(".main").niceScroll();

            let links$ = document.getElementsByClassName('openModal');

            if (links$ != null && links$.length > 0) {

                for(let i = 0 ; i < links$.length ; i++) {

                    (function(index) {

                        links$[index].addEventListener("click", function(event) {
                            console.log("Clicked !" + event.target.getAttribute("class"));
                        });

                    })(i);

                }

            }

            // Get the modal
            var modal = document.getElementById("myModal");

            // Get the button that opens the modal
            var btn = document.getElementById("myBtn");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks the button, open the modal
            btn.onclick = function() {
                modal.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }

        })(jQuery);

    </script>

{% endblock %}
</body>
</html>
