<div class="experiences">

    <h1>Experiences</h1>

    <div class="experiences-main">

        <div class="vertical-line"></div>

        <div class="experience-left experience-1">
            <div class="rightTriangle">

            </div>
            <div class="circle">

            </div>
            <div class="header-experience">
                JAVA Developer
            </div>
            <div class="experience-description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Ab accusantium aut cum dignissimos dolor doloremque, error esse est impedit nam numquam odio odit quisquam rem sit, soluta ullam velit voluptatem?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Ad, adipisci aliquid cumque deleniti, eveniet fugit, impedit iusto nemo praesentium rem reprehenderit soluta vitae! Ab cupiditate eveniet ex harum impedit odio!
            </div>
        </div>

        <div class="experience-right experience-2">
            <div class="leftTriangle">

            </div>
            <div class="circle">

            </div>
            <div class="header-experience">
                JAVA Developer
            </div>
            <div class="experience-description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Ab accusantium aut cum dignissimos dolor doloremque, error esse est impedit nam numquam odio odit quisquam rem sit, soluta ullam velit voluptatem?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Ad, adipisci aliquid cumque deleniti, eveniet fugit, impedit iusto nemo praesentium rem reprehenderit soluta vitae! Ab cupiditate eveniet ex harum impedit odio!
            </div>
        </div>

    </div>

</div>