<div class="experiences">

    <h1>Experiences</h1>

    <div class="experiences-main">

        <div class="vertical-line"></div>

        <div class="experience-left experience-1">
            <div class="rightTriangle">

            </div>
            <div class="circle">

            </div>
            <div class="header-experience">
                WEB and JAVA Developer
            </div>

            <div class="experience-description">
                <div class="date-experience">
                    from September 2016 to totay
                </div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Ab accusantium aut cum dignissimos dolor doloremque, error esse est impedit nam numquam odio odit quisquam rem sit, soluta ullam velit voluptatem?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Ad, adipisci aliquid cumque deleniti, eveniet fugit, impedit iusto nemo praesentium rem reprehenderit soluta vitae! Ab cupiditate eveniet ex harum impedit odio!
            </div>
        </div>

        <div class="experience-right experience-2">
            <div class="leftTriangle">

            </div>
            <div class="circle">

            </div>
            <div class="header-experience">
                WEB Developer
            </div>

            <div class="experience-description">
                <div class="date-experience">
                    from December 2013 to November 2016
                </div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Ab accusantium aut cum dignissimos dolor doloremque, error esse est impedit nam numquam odio odit quisquam rem sit, soluta ullam velit voluptatem?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Ad, adipisci aliquid cumque deleniti, eveniet fugit, impedit iusto nemo praesentium rem reprehenderit soluta vitae! Ab cupiditate eveniet ex harum impedit odio!
            </div>
        </div>

        <div class="experience-left experience-3">
            <div class="rightTriangle">

            </div>
            <div class="circle">

            </div>
            <div class="header-experience">
                WEB and JAVA Developer
            </div>

            <div class="experience-description">
                <div class="date-experience">
                    from September 2016 to totay
                </div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Ab accusantium aut cum dignissimos dolor doloremque, error esse est impedit nam numquam odio odit quisquam rem sit, soluta ullam velit voluptatem?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Ad, adipisci aliquid cumque deleniti, eveniet fugit, impedit iusto nemo praesentium rem reprehenderit soluta vitae! Ab cupiditate eveniet ex harum impedit odio!
            </div>
        </div>

        <div class="experience-right experience-4">
            <div class="leftTriangle">

            </div>
            <div class="circle">

            </div>
            <div class="header-experience">
                WEB Developer
            </div>

            <div class="experience-description">
                <div class="date-experience">
                    from December 2013 to November 2016
                </div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Ab accusantium aut cum dignissimos dolor doloremque, error esse est impedit nam numquam odio odit quisquam rem sit, soluta ullam velit voluptatem?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Ad, adipisci aliquid cumque deleniti, eveniet fugit, impedit iusto nemo praesentium rem reprehenderit soluta vitae! Ab cupiditate eveniet ex harum impedit odio!
            </div>
        </div>

    </div>

</div>