{% block body %}
    <div class="resume-header">
        <div class="resume-header-profile">
            <h1 class="resume-header-name">
                FIDAN Serkan
            </h1>
            <div class="resume-header-job">
                Developer Full-Stack
            </div>
            <div class="resume-header-separation">

            </div>
            <div class="clear"></div>
            <div class="resume-header-about-me">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Ad autem deleniti dicta eaque error excepturi expedita incidunt, ipsam laborum maiores natus placeat soluta tempora.
                Ab dolor et laboriosam ratione repudiandae?
            </div>
        </div>
        <div class="resume-header-picture">
            <div class="topLeft"></div>
            <div class="bottomRight"></div>
        </div>
        <div class="resume-header-skills">
            <div class="header-skill">
                JAVA <span class="percent-value">( 70% )</span>
            </div>
            <div class="header-skill-percent">
                <div class="header-skill-percent-value w-70-p"></div>
            </div>

            <div class="header-skill">
                PHP <span class="percent-value">( 70% )</span>
            </div>
            <div class="header-skill-percent">
                <div class="header-skill-percent-value w-70-p"></div>
            </div>

            <div class="header-skill">
                JAVASCRIPT <span class="percent-value">( 90% )</span>
            </div>
            <div class="header-skill-percent">
                <div class="header-skill-percent-value w-90-p"></div>
            </div>

            <div class="header-skill">
                HTML/CSS <span class="percent-value">( 100% )</span>
            </div>
            <div class="header-skill-percent">
                <div class="header-skill-percent-value w-100-p"></div>
            </div>
        </div>
    </div>

{% endblock %}