<nav class="navigation">

    <ul>

        <li class="logo">
            <a href="/" style="font-size: 60px;">
                SFN
            </a>
        </li>

        <li class="nav-items">
            <a href="">link -1</a>
        </li>
        <li class="nav-items">
            <a href="">link -1</a>
        </li>
        <li class="nav-items">
            <a href="">link -1</a>
        </li>
    </ul>

</nav>