body {
    background-color: #f7f7f7;
}

/**
    SECTIONS 1
 */

.section {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.section.section-1 {
    text-align: center;
}

.section.section-1 h1 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 3em;
    text-align: center;
    margin: 20px auto;
    line-height: 60px;
    color: #212529;
}

.section.section-1 img {
    position: relative;
    width: 50%;
    height: auto;
}

.section.section-1 p.section-1-content {
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    line-height: 25px;
    color: #5d5d5d;
}

/**
    SECTION 2
 */

.section-2 .section-2-title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 3em;
    text-align: center;
    margin: 20px auto;
    line-height: 60px;
    color: #212529;
}

.section-2 .princing-card {
    text-align: center;
    width: 28%;
    border: 15px solid white;
    display: inline-block;
    margin: 10px;
}

.section-2 .princing-card .princing-card-header {
    border-bottom: 10px solid white;
    padding: 20px 0px;
}
.section-2 .princing-card .princing-card-header .label {
    font-size: 1.75rem;
    margin: 5px 0;
}

.section-2 .princing-card .princing-card-header .description {color: #5d5d5d;margin: 10px 0;}

.section-2 .princing-card .princing-card-header .price {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 5px 0px;
}

.section-2 .princing-card .princing-card-content {
    padding: 30px 0px;
}

.section-2 .princing-card .princing-card-content .items {
    padding: 5px;
    color: #5d5d5d;
}

.section-2 .princing-card .princing-card-buttons {
    text-align: center;
    padding: 0px 0px 25px 0px;
}

.section-2 .princing-card .princing-card-buttons .btn-princing-card {
    background-color: black;
    border: 1px solid black;
    color: white;
    padding: 10px 30px;
    border-radius: 3px;
}

.section-2 .princing-card .princing-card-buttons .btn-princing-card:hover {
    background-color: white;
    color: black;
    transition: all 0.3s;
    cursor: pointer;
    border: 1px solid #676767;
}

.section-2 .princing-card .princing-card-buttons .btn-princing-card:focus {
    outline: none;
}
