body {
    background-color: #111111!important;
}

body.resume {
    background-color: rgb(25, 25, 25)!important;
}

.main {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.w-33 {
    width: 33%;
}

.w-70-p { width: 70%!important; }
.w-80-p { width: 80%!important; }
.w-100-p { width: 100%!important; }


.clear {
    clear: both;
}

/**
    BUTTON
 */

div.button {
    position: relative;
    padding: 25px 10px;
}

div.button .link {
    position: relative;
    padding: 20px 30px;
    background-color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Barlow Condensed";
    font-size: 20px;
    letter-spacing: 0.9px;
    border-radius: 30px;
    cursor: pointer;
}

div.button .link:hover {
    background-color: #f04923;
    color: white;
    transition: background-color 0.2s, color 0.2s;
}

div.small-button {
    position: relative;
    padding: 15px 10px;
}

div.small-button .link {
    position: relative;
    padding: 10px 20px;
    background-color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Barlow Condensed";
    font-size: 15px;
    letter-spacing: 0.9px;
    border-radius: 30px;
    cursor: pointer;
}

div.small-button .link:hover {
    background-color: #f04923;
    color: white;
    transition: background-color 0.2s, color 0.2s;
}


/**
    NAV
 */

.navigation {
    color: white;
    font-size: 18px;
    font-family: "Barlow Condensed";
    text-transform: uppercase;
    font-weight: 600;
    padding: 15px 20px;
    /*padding: 30px 20px;*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.navigation ul {

}

.navigation ul li {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 15px;
}

.navigation ul li.nav-items {
    float: right;
    line-height: 60px;
}

.navigation ul li a {
    color: white;
    position: relative;
    text-decoration: none;
    font-size: 20px;
}

.navigation ul li.nav-items a:after {
    display: block;
    background-color: #f04923;
    position: absolute;
    bottom: -15px;
    left: 0;
    content: '';
    width: 0;
    height: 2px;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

.navigation ul li.nav-items a:hover:after {
    width: 100%;
}

.navigation ul li.nav-items a:hover, .navigation ul li.nav-items a.active {
    color: #f04923;
}


/**
    SECTION 1
 */

.section-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url("/img/291772.jpg");
    background-position: center;
    background-size: cover;
}

.section-1 .section-content {
    flex: 1;
    margin-left: 10%;
}

.section-1 h1 {
    font-family: "Barlow Condensed";
    color: white;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 20px 10px;
}

.section-1 .text-wrapper {
    position: relative;
    color: white;
    font-family: "Barlow Condensed";
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.2px;
    padding: 10px 10px 30px 10px;
    line-height: 30px;
}

/**
    SECTION 2
 */

.section-2 {
    align-items: center;
    position: relative;
    width: 100%;
    background-color: #1b1b1b;
    padding-bottom: 50px;
}

.section-2 h1 {
    position: relative;
    display: block;
    font-family: "Barlow Condensed";
    color: white;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 20px 10px;
    text-align: center;
}

.section-2 .sub-title {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    line-height: 30px;
    color: #9c9c9c;
    padding-bottom: 40px;
}

.section-2 .card-container {
    text-align: center;
    position: relative;
    width: 100%;
}

.section-2 .card-container .card {
    position: relative;
    width: 20%;
    text-align: center;
    display: inline-block;
    padding: 10px;
}

.section-2 .card-container .card .icon {
    position: relative;
    font-size: 90px;
    color: #f04923;
}

.section-2 .card-container .card .description {
    position: relative;
    color: #9c9c9c;
    letter-spacing: 0.8px;
    line-height: 25px;
    font-size: 14px;
    padding: 0px 15px 15px 15px;
}

.section-2 .card-container .card .title {
    position: relative;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 10px;
    color: white;
}

/**
    PRICING
 */

.pricing-section {
    position: relative;
    background-color: transparent;
    text-align: center;
    width: 1280px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.pricing-section .header {
    text-align: left;
    display:inline-block;
    vertical-align:middle;
    width: 100%;
}
.pricing-section .header h3 {
    font-family: "Barlow Condensed";
    color: #ffffff;
    font-size: 50px;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: 700;
    display:inline-block;
    vertical-align:middle;
    margin: 1%;
}

.pricing-section .header div {
    display:inline-block;
    vertical-align:middle;
    margin: 1%;
    float: right;
    top: 10px;
    position: relative;
}

.pricing-card {
    position: relative;
    background-color: #292929;
    color: white;
    width: 31%;
    margin: 0% 1%;
    text-align: center;
    border-radius: 15px;
    display: inline-block;
    padding-bottom: 30px;
    margin-top: 50px;
}

.top {
    position: relative;
    padding: 10px;
}

.bottom {
    position: relative;
    padding: 10px;
}

.price-separation {
    position: relative;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,.2);
}

.pricing-card-title {
    color: #f04923;
    font-size: 30px;
    line-height: 32px;
    font-family: "Barlow Condensed";
    font-weight: 700;
    padding-top: 80px;
    padding-bottom: 20px;
}

.pricing-card-sub-title {
    padding: 0px 0px 15px 0px;
}

.pricing-card-pricing {
    padding-top: 15px;
    padding-bottom: 15px;
}

.device {
    font-size: 25px;
    position: relative;
    vertical-align: top;
    top: 5px;
    margin-right: 10px;
}

.price-amount {
    font-size: 55px;
    line-height: 55px;
    font-weight: 700;
    letter-spacing: -.4px;
}

.recuring {
    font-size: 25px;
}

.pricing-card-description {
    padding: 25px 0px 40px 0px;
    font-size: 20px;
    font-weight: 700;
}

.pricing-list {
    list-style: none;
    margin: 0;
    padding: 0px 40px;
}

.pricing-list-item {
    position: relative;
    padding: 25px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.pricing-list-item:last-child {
    border-bottom : none;
}

.pricing-card div.button .link {
    background-color: #f04923;
    color: white;
    transition: background-color 0.2s, color 0.2s;
    padding: 12px 30px;
}

.pricing-card div.button .link:hover {
    background-color: white;
    color: #f04923;
    transition: background-color 0.2s, color 0.2s;
}

.badge {
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 15px;
    padding: 10px 15px;
    background-color: #66bc46;
    font-family: "Montserrat";
    color: white;
    font-size: 10px;
    letter-spacing: 0.5px;
    font-weight: 700;
    text-align: center;
}

.badge.green {
    background-color: #66bc46;
    color: white;
}

.badge.orange {
    background-color: #f04923;
    color: white;
}