<ul id="curi-quest-fix">
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 5 Le Destin</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 3 </li>
                    <li class="after-fix">Après correction : 7</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 6 Des Mots Importants</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : </li>
                    <li class="after-fix">Après correction : -> </li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 7 Le Fruit de l'Arbre à  Rêves</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 4</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 8 Un Endroit Banal</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 4</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 9 Promenade en Forêt</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 4</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 10 Coucher de Soleil sur la Côte étoilée</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 4</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 12 Le Génie</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 4</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 12 L'Honneur Bafoué</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 4</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 13 La Tête du Voleur</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 4</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 14 Le Roi du Vent</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 4</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 15 Début : Un Combat de Coqs</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 4</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 15 Lutte : Un élan Désespéré</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 4</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 16 Fin : Tolérance</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 4 </li>
                </ul>
            </li>
            <li>
                <span class="goal-quest">Objets à récupérer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 4 </li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 17 Ne Faire qu'Un Avec la Nature</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 4</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 17 Jugement Affû té</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 4</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 18 Croyance</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 4</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 19 Un Mystérieux Talent</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 4</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 20 Se Surpasser</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 4</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 22 Une Quête de Soi</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 4 </li>
                </ul>
            </li>
            <li>
                <span class="goal-quest">Objets à récupérer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 4 </li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 22 Affaire 1 : Le Contrôle des Pumas</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 4</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 23 Affaire 2 : Méchanceté et Sournoiserie</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 3 </li>
                    <li class="after-fix">Après correction : 8</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 23 Affaire 3 : L'Enlèvement</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 4</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 24 Affaire 4 : Détrousseurs de Grands Chemins</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 4</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 24 Un Terrible Commencement</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 4</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 25 Dépasser les Obstacles</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 4</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 26 Le Survivant</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 1 </li>
                    <li class="after-fix">Après correction : 3</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 27 La Naissance des Maî tres Aventuriers</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 4</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 27 Chapitre 1 : Trahison</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 3 </li>
                    <li class="after-fix">Après correction : 8</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 28 Chapitre 2 : Hypnose</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 3 </li>
                    <li class="after-fix">Après correction : 8</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 28 Chapitre 3 : Revanche</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 4</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 29 Chapitre 4 : Le Retour</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 3 </li>
                    <li class="after-fix">Après correction : 8</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 29 Petit Crapaud ! Gros Champignon !</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 4</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 30 Fleurs Voleuses</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 4</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 30 La Course à  la Richesse</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 4</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 31 Les âmes Soupirantes</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 4</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 31 La Tribu Maudite</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 4</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 32 Un équilibre Déséquilibré</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 4</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 33 Vision Maléfique</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 4</li>
                </ul>
            </li>
            <li>
                <span class="goal-quest">Objet à récupérer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 4 </li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 33 Un Mariage Heureux</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 4</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 34 Un Mariage Brisé</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 5</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 35 Retournement de Situation</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 1 </li>
                    <li class="after-fix">Après correction : 3</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 35 Le Combattant et la Loyauté</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 5</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 36 Le Guerrier et la Volonté</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 5</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 36 Le Gardien</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 5</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 37 L'Aî né</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 3 </li>
                    <li class="after-fix">Après correction : 10</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 37 Les Mercenaires De La Dent Noire</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 5</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 37 L'Indicible Vérité</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 3 </li>
                    <li class="after-fix">Après correction : 10</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 37 La Chute Du Guerrier</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 5</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 39 Un Fantôme Au Clair de Lune</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 3 </li>
                    <li class="after-fix">Après correction : 10</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 40 Raid Nocturne</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 5</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 40 Le Temps de la Riposte</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 5</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 41 Une Lueur Mourante</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 5</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 41 Rouler sur l'Or</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 6</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 42 Ressources Naturelles</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 6</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 43 Tout est Bon</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 1 </li>
                    <li class="after-fix">Après correction : 4</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 43 Un Noble Sentiment</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 6</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 43 De Précieux Souvenirs</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 6</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 44 Une Nouvelle Mission</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 6</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 45 Question d'Intégrité</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 6</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 46 L'être Aimé à  L'Autel</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 6</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 46 L'Exil</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 6</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 47 Enfants Sauvages</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 6</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 47 L'Aigle Errant</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 6</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 48 La Vengeance</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 12</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 48 Ombre dans les Dunes</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 6</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 49 épreuve Initiatique</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 6</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 49 Briser sa Famille</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 3 </li>
                    <li class="after-fix">Après correction : 12</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 49 Une Lune Sanglante</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 6</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 50 étape 1 : La Résolution</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 6</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 50 étape 2 : éliminer Les Obstacles</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 6</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 5 étape 3 : Discrétion et Technique</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 1 </li>
                    <li class="after-fix">Après correction : 4</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 51 étape 4 : Remonter le Moral des Troupes</span>
        <ul>
            <li>
                <span class="goal-quest">Objet à récupérer</span>
                <ul>
                    <li class="before-fix">Avant correction : 3 </li>
                    <li class="after-fix">Après correction : 14</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 51 Début Idyllique</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 7</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 52 La Promesse</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 7</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 52 Rêves Concrétisés</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 1 </li>
                    <li class="after-fix">Après correction : 5</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 53 Une Jeune Fille et des Monstres</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 7</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 53 Des Flammes Dansantes</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 7</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 54 Le Pays Des Merveilles</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 7</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 54 Quand l'Amour S'Estompe</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 1 </li>
                    <li class="after-fix">Après correction : 5</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 54 à  la Poursuite du Soleil</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 7</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 55 Le Culte de Galt</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 3 </li>
                    <li class="after-fix">Après correction : 14</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 55 Danse avec les Créatures</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 7</li>
                </ul>
            </li>
            <li>
                <span class="goal-quest">Objet à récupérer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 7 </li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 56 Vin d'Apparition Plaintive</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 7</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 56 Amant Pernicieux</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 7</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 57 Sanova Adorée</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 1 </li>
                    <li class="after-fix">Après correction : 5</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 57 Oraison Funèbre</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 1 </li>
                    <li class="after-fix">Après correction : 5</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 57 La Fantaisie</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 8</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 58 Frustration</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 8</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 58 Succès Unique</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 8</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 59 à  Faire Et à  Ne Pas Faire</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 8</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 59 Le Vrai Visage De L'Humanité</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 8</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 60 Une Lueur Violette</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 8</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 60 Crime, égoï sme et Trahison</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 8</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 5 L'Enfance du Détective</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 3 </li>
                    <li class="after-fix">Après correction : 7</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 6 La Pierre Bleue et le Totem Antique</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 4</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 7 Professeur Bader Moss</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 4</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 52 L'échec du Déjeuner</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 7</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 52 Apprendre du Meilleur</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 7</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 52 L'émergence de Steak Rapide</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 7</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 53 Rumeur I : La Formule Anti-calvitie</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 7</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 53 Rumeur II : Le Laboratoire Hanté</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 1 </li>
                    <li class="after-fix">Après correction : 5</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 53 Rumeur III : L'élixir de Beauté</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 1 </li>
                    <li class="after-fix">Après correction : 5</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 53 Rumeur IV : La Formule Anti-enflure</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 3 </li>
                    <li class="after-fix">Après correction : 14</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 53 L'Attaque Romantique</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 7</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 53 Tentation Savoureuse</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 7</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 53 Un Résultat Inattendu</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 7</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 54 Articles Interdits</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 1 </li>
                    <li class="after-fix">Après correction : 5</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 54 Photos Interdites</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 7</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 54 Silence, S.V.P.</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 7</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 54 Attachez Votre Ceinture</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 7</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 5. Rêve du Lézard aux Pétales</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 3 </li>
                    <li class="after-fix">Après correction : 7</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 7. Sanction du Roi de la Lagune</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 4</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 7. Happy End ?</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 4</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 56 -  Comment tout a commencé</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 8</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 57 - Sauveteur</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 1 </li>
                    <li class="after-fix">Après correction : 5</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 57 - ATTAQUE !</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 1 </li>
                    <li class="after-fix">Après correction : 5</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 58 - âmes Errantes</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 1 </li>
                    <li class="after-fix">Après correction : 5</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 58 - Dangereux Contrôle de l'Esprit</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 8</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 58 - Invocation de Fantômes Carbonisés</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 3 </li>
                    <li class="after-fix">Après correction : 16</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 58 - échec de la Cristallisation Magique</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 8</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 58 - Devenir Invisible</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 8</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 58 - à  la Poursuite de l'Amour</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 8</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 58 - Dangereuse Perte de Poids</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 8</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 59 -  L'âge de Raison</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 8</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 59 - Réputation et Statut Social</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 8</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 60 - Tradition Nuptiale</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 8</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 60 - Tradition Funéraire</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 8</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv.5 - Enfance Malheureuse </span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 3 </li>
                    <li class="after-fix">Après correction : 7</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv.7 - Mettre Dehors </span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 4</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 7 - Fondateur de la Griffe de Bataille</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 1 </li>
                    <li class="after-fix">Après correction : 3</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 60 - Pas et Distance</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 1 </li>
                    <li class="after-fix">Après correction : 6</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 61 - Défense et Attaque</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 1 </li>
                    <li class="after-fix">Après correction : 6</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 61 - Escrime Valencienne  </span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 9</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 62 - Bras Droit de Dieu </span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 1 </li>
                    <li class="after-fix">Après correction : 6</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 62 - Génie du Piano </span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 1 </li>
                    <li class="after-fix">Après correction : 6</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 63 - La Rançon de la Gloire </span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 3 </li>
                    <li class="after-fix">Après correction : 18</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 63 - La Musique Adoucit La Mort </span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 9</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 61 - Le Début du Voyage</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 1 </li>
                    <li class="after-fix">Après correction : 6</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 62 - Instruction du Solitaire</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 9</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 62 - Cristal Miracle</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 9</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 63 - Recherche</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 9</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 63 - Haines</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 9</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 64 - Vengeance</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 9</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 64 - Récupération</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 1 </li>
                    <li class="after-fix">Après correction : 6</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 63 - Poisson de Jade</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 9</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 63 - Escargots Grillés</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 3 </li>
                    <li class="after-fix">Après correction : 18</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 63 - Gelée au Jasmin Magique</span>
        <ul>
            <li>
            <span class="goal-quest">	</span>
            <ul>
                <li>

                </li>
            </ul>
        </li>
    </ul></li>
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 64 - épée de Nolan</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 1 </li>
                    <li class="after-fix">Après correction : 6</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 64 - Amour d'un Chevalier</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 1 </li>
                    <li class="after-fix">Après correction : 6</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 65 - Inscription d'Iris</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 9</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 65 - Dernière Gloire</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 1 </li>
                    <li class="after-fix">Après correction : 6</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 59 - L'Accident ## (Journalière)</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 8</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 59 - Curieux Feux d'Artifices ## (Journalière) </span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 3 </li>
                    <li class="after-fix">Après correction : 12</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 59 - Trahison Impossible ## (Journalière)</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </li>
                    <li class="after-fix">Après correction : 8</li>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 59 - Le Karma vous le Rendra ## (Journalière)</span>
        <ul>
            <li>
                <span class="goal-quest">Objet à récupérer</span>
                <ul>
                    <li class="before-fix">Avant correction : 3 </li>
                    <li class="after-fix">Après correction : 12</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>