<div id="trial-items-fix">

<h3>Epee colossale</h3>

    <ul>

        <li class="quest-fix-item">
            <span class="name-quest">&lt;Chef des Pirates&gt; Taen le Borgne</span>
            <span class="map-quest">T Vilrequin 50</span>
            <ul>
                <li>Berserker Fou</li>
                <li>Formule : Berserker Fou</li>
            </ul>
        </li>

        <li class="quest-fix-item">
            <span class="name-quest">&lt;Exécuteur Royal&gt; Capitaine Kasin</span>
            <span class="map-quest">T Ulta 50</span>
            <ul>
                <li>Larmes du Titan</li>
                <li>Formule : Larmes du Titan</li>
            </ul>
        </li>

        <li class="quest-fix-item">
            <span class="name-quest">&lt;Roi de Baltaroï&gt; Gustave Baltaroï</span>
            <span class="map-quest">T Balta 55</span>
            <ul>
                <li>Destruction</li>
                <li>Formule : Destruction</li>
            </ul>
        </li>

        <li class="quest-fix-item">
            <span class="name-quest">&lt;Chevalier Dragon&gt; Griffe Effrayante</span>
            <span class="map-quest">T Croc Venin 55</span>
            <ul>
                <li>Terme de la Souffrance</li>
                <li>Formule : Terme de la Souffrance</li>
            </ul>
        </li>

        <li class="quest-fix-item">
            <span class="name-quest">&lt;Chevalier Dragon&gt; Griffe Effrayante</span>
            <span class="map-quest">T Croc Venin 55</span>
            <ul>
                <li>Hurlement Ténébreux</li>
                <li>Formule : Hurlement Ténébreux</li>
            </ul>
        </li>

        <li class="quest-fix-item">
            <span class="name-quest">&lt;Tor Dentsanglante&gt; Chef</span>
            <span class="map-quest">T Ecarlate 60</span>
            <ul>
                <li>Voleur de Mort</li>
                <li>Formule : Voleur de Mort</li>
            </ul>
        </li>
            
        <li class="quest-fix-item">
            <span class="name-quest">&lt;Prisonnier Tyrol&gt; Skleros</span>
            <span class="map-quest">T Manoir 60</span>
            <ul>
                <li>Arbitre de la Mélancolie</li>
                <li>Formule : Arbitre de la Mélanc.</li>
            </ul>
        </li>
            
        <li class="quest-fix-item">
            <span class="name-quest">&lt;Roi Obscur&gt; Valmar le Sans Visage</span>
            <span class="map-quest">T Siècle 60</span>
            <ul>
                <li>Extermination</li>
                <li>Formule : Extermination</li>
            </ul>
        </li>

    </ul>

<h3>Katana </h3>

	<ul>
		<li class="quest-fix-item">
			<span class="name-quest">&lt;Chef des Pirates&gt;  Taen le Borgne</span>
            <span class="map-quest">T Vilrequin 50</span>
			<ul>
				<li>Katana du Froid Sanguin</li>
				<li>Formule : Katana du Froid Sanguin</li>
			</ul>
		</li>
			
		<li class="quest-fix-item">
			<span class="name-quest">&lt;Exé cuteur Royal&gt;  Capitaine Kasin</span>
            <span class="map-quest">T Ulta 50</span>
			<ul>
				<li>Vrai Katana de l'é clat de Lune</li>
				<li>Formule : Katana de l'é clat de Lune</li>
			</ul>
		</li>

		<li class="quest-fix-item">
			<span class="name-quest">&lt;Roi de Baltaroï &gt; Gustave Baltaroï</span>
            <span class="map-quest">T Balta 55</span>
			<ul>
				<li>Katana Entaille-cerisier</li>
				<li>Formule : Katana Entaille-cerisier</li>
			</ul>
		</li>

		<li class="quest-fix-item">
			<span class="name-quest">&lt;Chevalier Dragon&gt; Griffe Effrayante</span>
            <span class="map-quest">T Croc Venin 55</span>
			<ul>
				<li>Vrai Katana de la Tempê te</li>
				<li>Formule : Vrai Katana de la Temp.</li>
			</ul>
		</li>

		<li class="quest-fix-item">
			<span class="name-quest">&lt;Prisonnier Tyrol&gt; Skleros</span>
            <span class="map-quest">T Manoir 60</span>
			<ul>
				<li>Katana de la Brû lure Noire</li>
				<li>Formule : Katana de la Brû lure Noire</li>
			</ul>
		</li>

		<li class="quest-fix-item">
			<span class="name-quest">&lt;Roi Obscur&gt; Valmar le Sans Visage</span>	
            <span class="map-quest">T Siècle 60</span>
			<ul>
				<li>Katana du Dieu du Tonnerre</li>
				<li>Formule : Katana du Dieu du Tonnerre</li>
			</ul>
		</li>
	</ul>

</div>