<ul id="main-quest-fix">
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 1 Votre première Quête III </span>
        <span class="map-quest"> Monts Calcaires</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 3 </span>
                    <li class="after-fix">Après correction : 6</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 2 Votre première Quête IV </span>
        <span class="map-quest"> Monts Calcaires</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 3 </span>
                    <li class="after-fix">Après correction : 4</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 4 Oracle Magicienne I </span>
        <span class="map-quest"> Monts Calcaires</span>
        <ul>
            <li>
                <span class="goal-quest">Atteindre le level : </span>
                <ul>
                    <li class="before-fix">Avant correction : 4 </span>
                    <li class="after-fix">Après correction : 5 </span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 6 Oracle Magicienne III </span>
        <span class="map-quest"> Monts Calcaires</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 5</span>
                </ul>
            </li>
        </ul>
    </li>

    <li class="quest-fix_item">
        <span class="name-quest">Nv. 6 Oracle Magicienne IV </span>
        <span class="map-quest"> Monts Calcaires</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  3 </span>
                    <li class="after-fix">Après correction : 4</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 2 Votre Première Quête III </span>
        <span class="map-quest"> Vallée Feregal</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 8</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 2 Votre Première Quête V </span>
        <span class="map-quest"> Vallée Feregal</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  3 </span>
                    <li class="after-fix">Après correction : 4</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 3 Inventeur Excentrique II </span>
        <span class="map-quest"> Vallée Feregal</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 3 </span>
                    <li class="after-fix">Après correction : 4</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 5 Vie éternelle II </span>
        <span class="map-quest"> Vallée Feregal</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 3 </span>
                    <li class="after-fix">Après correction : 6</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 6 Vie éternelle III </span>
        <span class="map-quest"> Vallée Feregal</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  2 </span>
                    <li class="after-fix">Après correction : 3</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 7 Vie éternelle IV </span>
        <span class="map-quest"> Vallée Feregal</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 3</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 3. Prophétie II </span>
        <span class="map-quest"> Lagune Enchantée</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 3 </span>
                    <li class="after-fix">Après correction : 6</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 6. Guide Mystérieux II </span>
        <span class="map-quest"> Lagune Enchantée</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 3</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 7. Guide Mystérieux III </span>
        <span class="map-quest"> Lagune Enchantée</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 3</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 2. Votre première Quête III </span>
        <span class="map-quest"> Crocs Brumeux</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 3 </span>
                    <li class="after-fix">Après correction : 6</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 3. Votre première Quête IV </span>
        <span class="map-quest"> Crocs Brumeux</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 3 </span>
                    <li class="after-fix">Après correction : 6</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 6. épreuve I </span>
        <span class="map-quest"> Crocs Brumeux</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 3 </span>
                    <li class="after-fix">Après correction : 6</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 6. épreuve II </span>
        <span class="map-quest"> Crocs Brumeux</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 3 </span>
                    <li class="after-fix">Après correction : 6</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 7. épreuve III </span>
        <span class="map-quest"> Crocs Brumeux</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 3 </span>
                    <li class="after-fix">Après correction : 6</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 8 Clochemer I </span>
        <span class="map-quest"> Colline Tranquille</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 5</span>
                </ul>
            </li>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres </span>
                <ul>
                    <li class="before-fix">Avant correction :  2 </span>
                    <li class="after-fix">Après correction : 3</span>
                </ul>
            </li>
        </ul>
    </li>
        

    <li class="quest-fix_item">
        <span class="name-quest">Nv. 9 Clochemer III </span>
        <span class="map-quest"> Colline Tranquille</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 1 </span>
                    <li class="after-fix">Après correction : 2</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 9 Clochemer IV </span>
        <span class="map-quest"> Colline Tranquille</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 5</span>
                </ul>
            </li>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres </span>
                <ul>
                    <li class="before-fix">Avant correction :  2 </span>
                    <li class="after-fix">Après correction : 3</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 13 Fort Verdure I </span>
        <span class="map-quest"> DNJ 3 Joueurs : Fort Verdure</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 1 </span>
                    <li class="after-fix">Après correction : 3</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 14 Secret du Village I </span>
        <span class="map-quest"> Forêt Arc-en-ciel</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 5</span>
                </ul>
            </li>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres </span>
                <ul>
                    <li class="before-fix">Avant correction :  2 </span>
                    <li class="after-fix">Après correction : 3</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 15 Secret du Village III </span>
        <span class="map-quest"> Forêt Arc-en-ciel</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  1 </span>
                    <li class="after-fix">Après correction : 2</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 15 Secret du Village IV </span>
        <span class="map-quest"> Forêt Arc-en-ciel</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 4</span>
                </ul>
            </li>
            <li>
                <span class="goal-quest">Objets à récupérer </span>
                <ul>
                    <li class="before-fix">Avant correction :  2 </span>
                    <li class="after-fix">Après correction : 3</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 16 Prismata II </span>
        <span class="map-quest"> Forêt Arc-en-ciel</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 4</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 16 Prismata III </span>
        <span class="map-quest"> Forêt Arc-en-ciel</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer </span>
                <ul>
                    <li class="before-fix">Avant correction : 3 </span>
                    <li class="after-fix">Après correction : 8 </span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 17 Prismata IV </span>
        <span class="map-quest"> Forêt Arc-en-ciel</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 1 </span>
                    <li class="after-fix">Après correction : 3</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 18 Le Marais Noir III </span>
        <span class="map-quest"> Forêt Arc-en-ciel</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 1 </span>
                    <li class="after-fix">Après correction : 3</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 18 Le Marais Noir IV </span>
        <span class="map-quest"> Forêt Arc-en-ciel</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  2 </span>
                    <li class="after-fix">Après correction : 8 </span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 19 Monts Arides I </span>
        <span class="map-quest"> Monts Arides</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 3 </span>
                    <li class="after-fix">Après correction : 8</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 19 Monts Arides II </span>
        <span class="map-quest"> Monts Arides</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  2 </span>
                    <li class="after-fix">Après correction : 3</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 20 Monts Arides III </span>
        <span class="map-quest"> Monts Arides</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  3 </span>
                    <li class="after-fix">Après correction : 6</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 20 Monts Arides IV </span>
        <span class="map-quest"> Monts Arides</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  3 </span>
                    <li class="after-fix">Après correction : 8</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 21 La Civilisation Perdue II </span>
        <span class="map-quest"> Monts Arides</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  2 </span>
                    <li class="after-fix">Après correction : 3</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 21 La Civilisation Perdue III </span>
        <span class="map-quest"> Monts Arides</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  3 </span>
                    <li class="after-fix">Après correction : 6</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 22 La Civilisation Perdue V </span>
        <span class="map-quest"> Monts Arides</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 1 </span>
                    <li class="after-fix">Après correction : 8</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 22 Repaire du Dragon I </span>
        <span class="map-quest"> Monts Arides</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  2 </span>
                    <li class="after-fix">Après correction : 3</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 22 Repaire du Dragon II </span>
        <span class="map-quest"> Monts Arides</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  3 </span>
                    <li class="after-fix">Après correction : 6</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 23 Repaire du Dragon IV </span>
        <span class="map-quest"> Monts Arides</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 1 </span>
                    <li class="after-fix">Après correction : 4</span>
                </ul>
            </li>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  1 </span>
                    <li class="after-fix">Après correction : 4</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 24 Affaires Portuaires I </span>
        <span class="map-quest"> Baie Bélouga</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 4</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 25 Affaires Portuaires III </span>
        <span class="map-quest"> Baie Bélouga</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  3 </span>
                    <li class="after-fix">Après correction : 6</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Niv. 25 Affaires Portuaires IV </span>
        <span class="map-quest"> Baie Bélouga</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer </span>
                <ul>
                    <li class="before-fix">Avant correction : 1 </span>
                    <li class="after-fix">Après correction : 2</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 26 Amour Fatal II </span>
        <span class="map-quest"> Baie Bélouga</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 1 </span>
                    <li class="after-fix">Après correction : 3</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 26 Amour Fatal III </span>
        <span class="map-quest"> Baie Bélouga</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  3 </span>
                    <li class="after-fix">Après correction : 6</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 27 Bataille de Pirates II </span>
        <span class="map-quest"> Baie Bélouga</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 3 </span>
                    <li class="after-fix">Après correction : 8 </span>
                </ul>
            </li>
        </ul>
    </li>
            
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 28 Bataille de Pirates III </span>
        <span class="map-quest"> Baie Bélouga</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 3 </span>
                    <li class="after-fix">Après correction : 8 </span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 28 Bataille de Pirates IV </span>
        <span class="map-quest"> Baie Bélouga</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 1 </span>
                    <li class="after-fix">Après correction : 3</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 29 Bataille de Pirates V </span>
        <span class="map-quest"> Baie Bélouga</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  3 </span>
                    <li class="after-fix">Après correction : 8 </span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 29 Ville du Marais I </span>
        <span class="map-quest"> Bourbes</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  2 </span>
                    <li class="after-fix">Après correction : 3</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 30 Ville du Marais IV </span>
        <span class="map-quest"> Bourbes</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 1 </span>
                    <li class="after-fix">Après correction : 3</span>
                </ul>
            </li>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  1 </span>
                    <li class="after-fix">Après correction : 3</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 30 Source d'Eau Magique II </span>
        <span class="map-quest"> Bourbes</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2</span>
                    <li class="after-fix">Après correction : 5</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 32 Indices I </span>
        <span class="map-quest"> Bourbes</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  2 </span>
                    <li class="after-fix">Après correction : 3</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 32 Indices IV </span>
        <span class="map-quest"> Bourbes</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 5</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 33 La Vallée I </span>
        <span class="map-quest"> Vallée des Rois</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 5</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 34 La Vallée III </span>
        <span class="map-quest"> Vallée des Rois</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 5</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 34 La Vallée IV </span>
        <span class="map-quest"> Vallée des Rois</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 3 </span>
                    <li class="after-fix">Après correction : 10</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 35 Poison Inconnu II </span>
        <span class="map-quest"> Vallée des Rois</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  2 </span>
                    <li class="after-fix">Après correction : 3</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 35 Poison Inconnu III </span>
        <span class="map-quest"> Vallée des Rois</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  2 </span>
                    <li class="after-fix">Après correction : 3</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 36 Poison Inconnu IV </span>
        <span class="map-quest"> Vallée des Rois</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 5</span>
                </ul>
            </li>
        </ul>
    </li>

    <li class="quest-fix_item">
        <span class="name-quest">Nv. 36 Carapaces Ensorcelées I </span>
        <span class="map-quest"> Vallée des Rois</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  3 </span>
                    <li class="after-fix">Après correction : 6</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 36 Carapaces Ensorcelées II </span>
        <span class="map-quest"> Vallée des Rois</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 5</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 37 Carapaces Ensorcelées III </span>
        <span class="map-quest"> Vallée des Rois</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  1 </span>
                    <li class="after-fix">Après correction : 3</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 38 écologie Volcanique I </span>
        <span class="map-quest"> Volcan Avila</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 5</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 38 écologie Volcanique II </span>
        <span class="map-quest"> Volcan Avila</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  2 </span>
                    <li class="after-fix">Après correction : 3</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 38 écologie Volcanique III </span>
        <span class="map-quest"> Volcan Avila</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  1 </span>
                    <li class="after-fix">Après correction : 3</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 38 écologie Volcanique IV </span>
        <span class="map-quest"> Volcan Avila</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 1 </span>
                    <li class="after-fix">Après correction : 5</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 39 Flammes d'Ebaster I </span>
        <span class="map-quest"> Volcan Avila</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  3 </span>
                    <li class="after-fix">Après correction : 6</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 39 Flammes d'Ebaster II </span>
        <span class="map-quest"> Volcan Avila</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  2 </span>
                    <li class="after-fix">Après correction : 3</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 39 Flammes d'Ebaster IV </span>
        <span class="map-quest"> Volcan Avila</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  3 </span>
                    <li class="after-fix">Après correction : 6</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 40 Arrêtez les Fanatiques I </span>
        <span class="map-quest"> Volcan Avila</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  </span>
                    <li class="after-fix">Après correction : -> </span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 40 Arrêter les Fanatiques III </span>
        <span class="map-quest"> Volcan Avila</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 3 </span>
                    <li class="after-fix">Après correction : 10</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 40 Arrêter les Fanatiques IV </span>
        <span class="map-quest"> Volcan Avila</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 5</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 41 Arrêter les Fanatiques V </span>
        <span class="map-quest"> Volcan Avila</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 1 </span>
                    <li class="after-fix">Après correction : 5</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 41 Ville de Prospérité I </span>
        <span class="map-quest"> Plaines Dorées</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  2 </span>
                    <li class="after-fix">Après correction : 4</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 41 Ville de Prospérité III </span>
        <span class="map-quest"> Plaines Dorées</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 3 </span>
                    <li class="after-fix">Après correction : 12</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 42 Ville de Prospérité IV </span>
        <span class="map-quest"> Plaines Dorées</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 6</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 42 Le Sommeil du Maire II </span>
        <span class="map-quest"> Plaines Dorées</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  3 </span>
                    <li class="after-fix">Après correction : 10</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 43 Le Sommeil du Maire III </span>
        <span class="map-quest"> Plaines Dorées</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  3 </span>
                    <li class="after-fix">Après correction : 12</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 43 Le Sommeil du Maire IV </span>
        <span class="map-quest"> Plaines Dorées</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  2 </span>
                    <li class="after-fix">Après correction : 5</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 44 Contre le Gang Œil de Loup I </span>
        <span class="map-quest"> Plaines Dorées</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 6</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 45 Contre le Gang Œil de Loup IV </span>
        <span class="map-quest"> Plaines Dorées</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 3 </span>
                    <li class="after-fix">Après correction : 10</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 45 Contre le Gang Œil de Loup V </span>
        <span class="map-quest"> Plaines Dorées</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 10</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 45 Rocher I </span>
        <span class="map-quest"> Terre des Dunes éternelles</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 6</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 45 Rocher II </span>
        <span class="map-quest"> Terre des Dunes éternelles</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  3 </span>
                    <li class="after-fix">Après correction : 10</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 46 Rocher IV </span>
        <span class="map-quest"> Terre des Dunes éternelles</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 6</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 46 Bêtes et Vers I </span>
        <span class="map-quest"> Terre des Dunes éternelles</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 6</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 46 Bêtes et Vers III </span>
        <span class="map-quest"> Terre des Dunes éternelles</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  3 </span>
                    <li class="after-fix">Après correction : 10</span>
                </ul>
            </li>
        </ul>
    </li>
            
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 47 Bêtes et Vers IV </span>
        <span class="map-quest"> Terre des Dunes éternelles</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 6</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 48 Prisonnier IV </span>
        <span class="map-quest"> Terre des Dunes éternelles</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 1 </span>
                    <li class="after-fix">Après correction : 4</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 48 Dangers de la Forêt I </span>
        <span class="map-quest"> Forêt de Delphes</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 6</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 49 Dangers de la Forêt II </span>
        <span class="map-quest"> Forêt de Delphes</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  2 </span>
                    <li class="after-fix">Après correction : 6</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 49 Dangers de la Forêt IV </span>
        <span class="map-quest"> Forêt de Delphes</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 6</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 49 Espoir de Père I </span>
        <span class="map-quest"> Forêt de Delphes</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 3 </span>
                    <li class="after-fix">Après correction : 12</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 50 Espoir de Père II </span>
        <span class="map-quest"> Forêt de Delphes</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  2 </span>
                    <li class="after-fix">Après correction : 6</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 50 Espoir de Père III </span>
        <span class="map-quest"> Forêt de Delphes</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 6</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 50 Espoir de Père IV </span>
        <span class="map-quest"> Forêt de Delphes</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 6</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 50 Espoir de Père V </span>
        <span class="map-quest"> Forêt de Delphes</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 3 </span>
                    <li class="after-fix">Après correction : 12</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 51 Protection du Temple I </span>
        <span class="map-quest"> Forêt de Delphes</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  2 </span>
                    <li class="after-fix">Après correction : 6</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 51 Protection du Temple III </span>
        <span class="map-quest"> Forêt de Delphes</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 3 </span>
                    <li class="after-fix">Après correction : 12</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 51 Protection du Temple IV </span>
        <span class="map-quest"> Forêt de Delphes</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 3 </span>
                    <li class="after-fix">Après correction : 12</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 51 Protection du Temple V </span>
        <span class="map-quest"> Forêt de Delphes</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  2 </span>
                    <li class="after-fix">Après correction : 9</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 51 Forge I </span>
        <span class="map-quest"> Pic de Noireflamme</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 7</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 51 Forge II </span>
        <span class="map-quest"> Pic de Noireflamme</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 3 </span>
                    <li class="after-fix">Après correction : 14</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 51 Forge III </span>
        <span class="map-quest"> Pic de Noireflamme</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 7</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 52 Forge V </span>
        <span class="map-quest"> Pic de Noireflamme</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 14</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 52 Minéral Unique I </span>
        <span class="map-quest"> Pic de Noireflamme</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  3 </span>
                    <li class="after-fix">Après correction : 14</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 52 Minéral Unique II </span>
        <span class="map-quest"> Pic de Noireflamme</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  1 </span>
                    <li class="after-fix">Après correction : 5</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 52 Minéral Unique III </span>
        <span class="map-quest"> Pic de Noireflamme</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  2 </span>
                    <li class="after-fix">Après correction : 7</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 52 Minéral Unique IV </span>
        <span class="map-quest"> Pic de Noireflamme</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  2 </span>
                    <li class="after-fix">Après correction : 7</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 53 Possédé II </span>
        <span class="map-quest"> Pic de Noireflamme</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 7</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 53 Possédé III </span>
        <span class="map-quest"> Pic de Noireflamme</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 14</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 53 Possédé IV </span>
        <span class="map-quest"> Pic de Noireflamme</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 7</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 54 Possédé V </span>
        <span class="map-quest"> Pic de Noireflamme</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 14</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 54 Menace sur le Marais I </span>
        <span class="map-quest"> Marais Décrépits</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 7</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 55 Menace sur le Marais III </span>
        <span class="map-quest"> Marais Décrépits</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  2 </span>
                    <li class="after-fix">Après correction : 7</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 55 Menace sur le Marais V </span>
        <span class="map-quest"> Marais Décrépits</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  2 </span>
                    <li class="after-fix">Après correction : 14</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 55 Eau Pure I </span>
        <span class="map-quest"> Marais Décrépits</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  3 </span>
                    <li class="after-fix">Après correction : 14</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 55 Eau Pure II </span>
        <span class="map-quest"> Marais Décrépits</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  2 </span>
                    <li class="after-fix">Après correction : 14</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 56 Eau Pure III </span>
        <span class="map-quest"> Marais Décrépits</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 7</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 56 Eau Pure IV </span>
        <span class="map-quest"> Marais Décrépits</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  2 </span>
                    <li class="after-fix">Après correction : 7</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 56 Eau Pure V </span>
        <span class="map-quest"> Marais Décrépits</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  2 </span>
                    <li class="after-fix">Après correction : 14</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 56 Roi de la Terre II </span>
        <span class="map-quest"> Marais Décrépits</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 1 </span>
                    <li class="after-fix">Après correction : 7</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 57 Roi de la Terre III </span>
        <span class="map-quest"> Marais Décrépits</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 7</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 57 Roi de la Terre IV </span>
        <span class="map-quest"> Marais Décrépits</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 7</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 57 Hautes-terres I </span>
        <span class="map-quest"> Hautes-terres</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 3 </span>
                    <li class="after-fix">Après correction : 16</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 57 Hautes-terres II </span>
        <span class="map-quest"> Hautes-terres</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  2 </span>
                    <li class="after-fix">Après correction : 8</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 57 Hautes-terres IV </span>
        <span class="map-quest"> Hautes-terres</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  2 </span>
                    <li class="after-fix">Après correction : 8</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 58 Général Lion Bélier I </span>
        <span class="map-quest"> Hautes-terres</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 8</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 58 Général Lion Bélier III </span>
        <span class="map-quest"> Hautes-terres</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  2 </span>
                    <li class="after-fix">Après correction : 8</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 58 Général Lion Bélier IV </span>
        <span class="map-quest"> Hautes-terres</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 8</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 58 Général Lion Bélier V </span>
        <span class="map-quest"> Hautes-terres</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 1 </span>
                    <li class="after-fix">Après correction : 8</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 59 La Magie Perdue II </span>
        <span class="map-quest"> Hautes-terres</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  2 </span>
                    <li class="after-fix">Après correction : 8</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 59 La Magie Perdue III </span>
        <span class="map-quest"> Hautes-terres</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer </span>
                <ul>
                    <li class="before-fix">Avant correction : 3 </span>
                    <li class="after-fix">Après correction : 16</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 59 La Magie Perdue IV </span>
        <span class="map-quest"> Hautes-terres</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 8</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 52 Crise Soudaine III </span>
        <span class="map-quest"> Désert du Couchant</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  2 </span>
                    <li class="after-fix">Après correction : 7</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 52 Crise Soudaine IV </span>
        <span class="map-quest"> Désert du Couchant</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer </span>
                <ul>
                    <li class="before-fix">Avant correction : 1 </span>
                    <li class="after-fix">Après correction : 3</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 52 Crise Soudaine V </span>
        <span class="map-quest"> Désert du Couchant</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 28</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 52 Du Calme I </span>
        <span class="map-quest"> Désert du Couchant</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 7</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 52 Du Calme III </span>
        <span class="map-quest"> Désert du Couchant</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer </span>
                <ul>
                    <li class="before-fix">Avant correction : 1 </span>
                    <li class="after-fix">Après correction : 3</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 53 Du Calme IV </span>
        <span class="map-quest"> Désert du Couchant</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 7</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 53 Du Calme V </span>
        <span class="map-quest"> Désert du Couchant</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 1 </span>
                    <li class="after-fix">Après correction : 7</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 53 Insectes Mutants II </span>
        <span class="map-quest"> Désert du Couchant</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer </span>
                <ul>
                    <li class="before-fix">Avant correction : 3 </span>
                    <li class="after-fix">Après correction : 12</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 53 Insectes Mutants IV </span>
        <span class="map-quest"> Désert du Couchant</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 7</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 53 Insectes Mutants V </span>
        <span class="map-quest"> Désert du Couchant</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 14</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 53 Pirates et Chauves-souris I </span>
        <span class="map-quest"> Jungle Céleste</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer </span>
                <ul>
                    <li class="before-fix">Avant correction : 3 </span>
                    <li class="after-fix">Après correction : 14</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 53 Pirates et Chauves-souris III </span>
        <span class="map-quest"> Jungle Céleste</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  2 </span>
                    <li class="after-fix">Après correction : 7</span>
                </ul>
            </li>
        </ul>
    </li>

    <li class="quest-fix_item">
        <span class="name-quest">Nv. 53 Pirates et Chauves-souris IV </span>
        <span class="map-quest"> Jungle Céleste</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  2 </span>
                    <li class="after-fix">Après correction : 7</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 53 Pilote Légendaire II </span>
        <span class="map-quest"> Jungle Céleste</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  2 </span>
                    <li class="after-fix">Après correction : 7</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 53 Pilote Légendaire III </span>
        <span class="map-quest"> Jungle Céleste</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  3 </span>
                    <li class="after-fix">Après correction : 11</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 54 Attaque Punitive II </span>
        <span class="map-quest"> Jungle Céleste</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 7</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 54 Attaque Punitive III </span>
        <span class="map-quest"> Jungle Céleste</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 1 </span>
                    <li class="after-fix">Après correction : 7</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 54 Attaque Punitive IV </span>
        <span class="map-quest"> Jungle Céleste</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 7</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 54 Attaque Punitive V </span>
        <span class="map-quest"> Jungle Céleste</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 14</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 54 - Dompter la Tempête I </span>
        <span class="map-quest"> Côte de Hurlevent</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2</span>
                    <li class="after-fix">Après correction : 7</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 54 - Dompter la Tempête II </span>
        <span class="map-quest"> Côte de Hurlevent</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  3 </span>
                    <li class="after-fix">Après correction : 11</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 55  - Dompter la Tempête III </span>
        <span class="map-quest"> Côte de Hurlevent</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 1 </span>
                    <li class="after-fix">Après correction : 5</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 56 -  Lamentation II  </span>
        <span class="map-quest"> Côte de Hurlevent</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 1 </span>
                    <li class="after-fix">Après correction : 3</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 56 -  Lamentation III </span>
        <span class="map-quest"> Côte de Hurlevent</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  2 </span>
                    <li class="after-fix">Après correction : 7</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 56 -  Lamentation IV </span>
        <span class="map-quest"> Côte de Hurlevent</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 14</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 57 -  Bataille Acharnée I </span>
        <span class="map-quest"> Côte de Hurlevent</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  2 </span>
                    <li class="after-fix">Après correction : 7</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 57 -  Bataille Acharnée II </span>
        <span class="map-quest"> Côte de Hurlevent</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  3 </span>
                    <li class="after-fix">Après correction : 6</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 57 - Bataille Acharnée IV </span>
        <span class="map-quest"> Côte de Hurlevent</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 1 </span>
                    <li class="after-fix">Après correction : 7</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 57 - Bataille Acharnée V </span>
        <span class="map-quest"> Côte de Hurlevent</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 1 </span>
                    <li class="after-fix">Après correction : 7</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 57 -  Les Secrets du Dieu Serpent I </span>
        <span class="map-quest"> Jungle du Dieu Serpent</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 8</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 57 - Les Secrets du Dieu Serpent III </span>
        <span class="map-quest"> Jungle du Dieu Serpent</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  2 </span>
                    <li class="after-fix">Après correction : 16</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 57 - Les Secrets du Dieu Serpent IV </span>
        <span class="map-quest"> Jungle du Dieu Serpent</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  1 </span>
                    <li class="after-fix">Après correction : 4</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 57 - Les Secrets du Dieu Serpent </span>
        <span class="map-quest"> Jungle du Dieu Serpent</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  2 </span>
                    <li class="after-fix">Après correction : 16</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 59 - Secourir les Sauveteurs II </span>
        <span class="map-quest"> Jungle du Dieu Serpent</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 8</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 59 - Secourir les Sauveteurs III </span>
        <span class="map-quest"> Jungle du Dieu Serpent</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 1 </span>
                    <li class="after-fix">Après correction : 5</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 59 - Secourir les Sauveteurs IV </span>
        <span class="map-quest"> Jungle du Dieu Serpent</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2 </span>
                    <li class="after-fix">Après correction : 8</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 60 - Les Richesses de Maziz II  </span>
        <span class="map-quest"> Jungle du Dieu Serpent</span>
        <ul>
            <li>
                <span class="goal-quest">Monstres à tuer :</span>
                <ul>
                    <li class="before-fix">Avant correction : 2</span>
                    <li class="after-fix">Après correction : 8</span>
                </ul>
            </li>
        </ul>
    </li>
        
    <li class="quest-fix_item">
        <span class="name-quest">Nv. 60 - Les Richesses de Maziz III  </span>
        <span class="map-quest"> Jungle du Dieu Serpent</span>
        <ul>
            <li>
                <span class="goal-quest">Objets à récupérer sur des monstres</span>
                <ul>
                    <li class="before-fix">Avant correction :  2 </span>
                    <li class="after-fix">Après correction : 8</span>
                </ul>
            </li>
        </ul>
    </li>
</ul>