<ul id="cristal-beni-fix">
    <li class="quest-fix-item">
        <span class="name-quest">Cristal 5 (avant)</span>

        <ul>
            <li>Potion de Santé  I * 10</li>
            <li>Potion de Mana I * 10</li>
            <li>Extension Mystique à  7 Emplacements * 1</li>
            <li>Pierre de Portail * 5</li>
            <li>H Objet de Quête d'Event * 1</li>

        </ul>
    </li>
        

    <li class="quest-fix-item">
        <span class="name-quest">Cristal 5 (après)</span>

        <ul>
            <li>Potion de Santé  I * 20</li>
            <li>Potion de Mana I * 20</li>
            <li>Extension Mystique à  7 Emplacements * 1</li>
            <li>Pierre de Portail * 50</li>
            <li>H Objet de Quête d'Event * 1</li>

        </ul>
    </li>

        
    <li class="quest-fix-item">
        <span class="name-quest">Cristal 10 (avant)</span>

        <ul>
            <li>Potion de Santé  I * 10</li>
            <li>Pierre de Portail * 10</li>
            <li>Appel Mondial * 4</li>

        </ul>
    </li>
        


    <li class="quest-fix-item">
        <span class="name-quest">Cristal 10 (après)</span>

        <ul>
            <li>Potion de Santé  I * 20</li>
            <li>Potion de Mana I * 20</li>
            <li>Pierre de Portail * 50</li>
            <li>Appel Mondial * 10</li>

        </ul>
    </li>


    <li class="quest-fix-item">
        <span class="name-quest">Cristal 15 (avant)</span>

        <ul>
            <li>Potion de Santé  II * 10</li>
            <li>Potion de Mana II * 10</li>
            <li>Amulette d'EXP I (NE) * 2</li>
            <li>Nourriture de Familier (NE) * 2</li>
            <li>Extension Mystique à  7 Emplacements * 1</li>

        </ul>
    </li>


    <li class="quest-fix-item">
        <span class="name-quest">Cristal 15 (après)</span>

        <ul>
            <li>Potion de Santé  II * 20</li>
            <li>Potion de Mana II * 20</li>
            <li>Amulette d'EXP I (NE) * 5</li>
            <li>Nourriture de Familier (NE) * 5</li>
            <li>Extension Mystique à  7 Emplacements * 1</li>
            <li>Amulette de PC I (NE) * 5</li>

        </ul>
    </li>


    <li class="quest-fix-item">
        <span class="name-quest">Cristal 20 (avant) </span>

        <ul>
            <li>Aide à  la Récolte (NE) * 4</li>
            <li>Marteau de Réparation (NE) * 1</li>
            <li>Pierre de Portail * 10</li>
            <li>Bijou Iris (1 jour) (NT) * 1</li>
            <li>Cristal EDEN NE * 1</li>

        </ul>
    </li>


    <li class="quest-fix-item">
        <span class="name-quest">Cristal 20 (après) </span>

        <ul>
            <li>Aide à  la Récolte (NE) * 10</li>
            <li>Marteau de Réparation (NE) * 10</li>
            <li>Pierre de Portail * 50</li>
            <li>Bijou Iris (1 jour) (NT) * 1</li>
            <li>Cristal EDEN NE * 10</li>

        </ul>
    </li>

        
    <li class="quest-fix-item">
        <span class="name-quest">Cristal 25 (avant)</span>

        <ul>
            <li>Extension Mystique à  7 Emplacements * 1</li>
            <li>Amulette de PC I (NE) * 2</li>
            <li>Amulette d'EXP I (NE) * 2</li>
            <li>Cristal EDEN NE * 2</li>
            <li>Pierre de Sécurité  (NE) * 2</li>

        </ul>
    </li>


    <li class="quest-fix-item">
        <span class="name-quest">Cristal 25 (après)</span>

        <ul>
            <li>Extension Mystique à  7 Emplacements * 1</li>
            <li>Amulette de PC I (NE) * 5</li>
            <li>Amulette d'EXP I (NE) * 5</li>
            <li>Cristal EDEN NE * 10</li>
            <li>Pierre de Sécurité  (NE) * 10</li>

        </ul>
    </li>


    <li class="quest-fix-item">
        <span class="name-quest">Cristal 30 (avant)</span>

        <ul>
            <li>Potion de Santé  II * 10</li>
            <li>Potion de Mana II * 10</li>
            <li>Cristal EDEN NE * 2</li>
            <li>Pierre de Portail * 10</li>

        </ul>
    </li>
        
        
    <li class="quest-fix-item">
        <span class="name-quest">Cristal 30 (après)</span>

        <ul>
            <li>Potion de Santé  II * 20</li>
            <li>Potion de Mana II * 20</li>
            <li>Cristal EDEN NE * 10</li>
            <li>Pierre de Portail * 50</li>

        </ul>
    </li>


    <li class="quest-fix-item">
        <span class="name-quest">Cristal 35 (avant)</span>

        <ul>
            <li>Potion de Santé  III (NE) * 20</li>
            <li>Potion de Mana III (NE) * 20</li>
            <li>Bijou Aurique (7 jours) NT * 1</li>
            <li>Pierre de Sécurité  (NE) * 10</li>
            <li>Amulette d'EXP I (NE) * 5</li>

        </ul>
    </li>


    <li class="quest-fix-item">
        <span class="name-quest">Cristal 35 (après)</span>

        <ul>
            <li>Potion de Santé  III (NE) * 20</li>
            <li>Potion de Mana III (NE) * 20</li>
            <li>Bijou Aurique (7 jours) NT * 1</li>
            <li>Pierre de Sécurité  (NE) * 10</li>
            <li>Amulette d'EXP I (NE) * 5</li>
            <li>Amulette de PC I (NE) * 5</li>

        </ul>
    </li>


    <li class="quest-fix-item">
        <span class="name-quest">Cristal 40 (avant)</span>

        <ul>
            <li>Potion de Santé  III (NE) * 10</li>
            <li>Potion de Mana III (NE) * 10</li>
            <li>Amulette de Butin I * 2</li>
            <li>Amulette de PC I (NE) * 2</li>
            <li>Amulette d'EXP I (NE) * 2</li>

        </ul>
    </li>


    <li class="quest-fix-item">
        <span class="name-quest">Cristal 40 (après)</span>

        <ul>
            <li>Potion de Santé  III (NE) * 20</li>
            <li>Potion de Mana III (NE) * 20</li>
            <li>Amulette de Butin I (NE) * 5</li>
            <li>Amulette de PC I (NE) * 5</li>
            <li>Amulette d'EXP I (NE) * 5</li>

        </ul>
    </li>


    <li class="quest-fix-item">
        <span class="name-quest">Cristal 45 (avant) </span>

        <ul>
            <li>Potion de Santé III (NE) * 10</li>
            <li>Potion de Mana III (NE) * 10</li>
            <li>Aide à la Récolte (NE) * 6</li>
            <li>Amulette d'EXP I (NE) * 2</li>

        </ul>
    </li>


    <li class="quest-fix-item">
        <span class="name-quest">Cristal 45 (après) </span>

        <ul>
            <li>Potion de Santé III (NE) * 20</li>
            <li>Potion de Mana III (NE) * 20</li>
            <li>Aide à la Récolte (NE) * 10</li>
            <li>Amulette d'EXP I (NE) * 5</li>
            <li>Amulette de PC I (NE) * 5</li>

        </ul>
    </li>


    <li class="quest-fix-item">
        <span class="name-quest">Cristal 50 (avant) </span>

        <ul>
            <li>Potion de Santé  III (NE) * 10</li>
            <li>Potion de Mana III (NE) * 10</li>
            <li>Cristal EDEN NE * 5</li>
            <li>Pierre de Sécurité  (NE) * 5</li>
            <li>Amulette d'EXP I (NE) * 3</li>

        </ul>
    </li>


    <li class="quest-fix-item">
        <span class="name-quest">Cristal 50 (après) </span>

        <ul>
            <li>Potion de Santé  III (NE) * 20</li>
            <li>Potion de Mana III (NE) * 20</li>
            <li>Cristal EDEN NE * 10</li>
            <li>Pierre de Sécurité  (NE) * 10</li>
            <li>Amulette d'EXP I (NE) * 5</li>
            <li>Amulette de PC I (NE) * 5</li>

        </ul>
    </li>
        

</ul>