<ul id="change-quest-fix">
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 1 Votre première Quête I Monts Calcaires</span>
        <ul>
            <li>Sidecar Futuriste</li>
        </ul>
    </li>

    <li class="quest-fix-item">
        <span class="name-quest">Nv. 1. Votre Première Quête I Lagune Enchantée</span>
        <ul>
            <li>Sidecar Futuriste</li>
        </ul>
    </li>

    <li class="quest-fix-item">
        <span class="name-quest">Nv. 1. Votre Première Quête I Crocs brumeux</span>
        <ul>
            <li>Sidecar Futuriste</li>
        </ul>
    </li>

    <li class="quest-fix-item">
        <span class="name-quest">Nv. 1. Votre Première Quête I Vallée férégale</span>
        <ul>
            <li>Sidecar Futuriste</li>
        </ul>
    </li>

    <li class="quest-fix-item">
        <span class="name-quest">Nv. 10 - Auto-amélioration I </span>
        <ul>
            <li>Set + armes héritage 30</li>
        </ul>
    </li>
        

    <li class="quest-fix-item">
        <span class="name-quest">Nv. 15 - Auto-amélioration II</span>
        <ul>
            <li>5 Amulette d'EXP II (NE)</li>
            <li>5 Amulette de PC II (NT)</li>
        </ul>
    </li>
        

    <li class="quest-fix-item">
        <span class="name-quest">Nv. 20 - Auto-amélioration III</span>
        <ul>
            <li>1 Sac à  Dos à  20 Emplacements</li>
        </ul>
    </li>
        

    <li class="quest-fix-item">
        <span class="name-quest">Nv. 25 - Auto-amélioration IV</span>
        <ul>
            <li>5 Feuille de Vie de Lotus</li>
            <li>5 CE (NE)</li>
        </ul>
    </li>
        
    <li class="quest-fix-item">
        <span class="name-quest">Nv. 30 - Auto-amélioration V</span>
        <ul>
            <li>2 Pioche Parfaite (NE)</li>
            <li>2 Gants de Jardinage Parfaits (NE)</li>
            <li>2 Boule de Cristal Parfaite (NE)</li>
        </ul>
    </li>

    <li class="quest-fix-item">
        <span class="name-quest">Nv. 35 - Auto-amélioration VI</span>
        <ul>
            <li>10 Essence de Couronne Nv 35 (NE)</li>
            <li>5 Ciseau d'Eternal Niveau 30 (NE)</li>
        </ul>
    </li>

    <li class="quest-fix-item">
        <span class="name-quest">Nv. 40 - Auto-amélioration VII</span>
        <ul>
            <li>10 Essence de Couronne Nv 45 (NE)</li>
            <li>5 CE (NE)</li>
        </ul>
    </li>

    <li class="quest-fix-item">
        <span class="name-quest">Nv. 45 - Auto-amélioration VIII</span>
        <ul>
            <li>2 Pioche d'Expert Parfaite (NE)</li>
            <li>2 Gants de Jardinage d'Expert Parfaits (NE)</li>
            <li>2 Boule de Cristal d'Expert Parfaite (NE)</li>
        </ul>
    </li>

    <li class="quest-fix-item">
        <span class="name-quest">Nv. 50 - Auto-amélioration IX</span>
        <ul>
            <li>10 Essence de Couronne Nv 50 (NE)</li>
            <li>10 Essence de Couronne Nv 55 (NE)</li>
        </ul>
    </li>

    <li class="quest-fix-item">
        <span class="name-quest">Nv. 55 - Auto-amélioration X</span>
        <ul>
            <li>200 pierres de guerre</li>
            <li>10 Essence de Couronne Nv 60 (NE)</li>
        </ul>
    </li>
	
</ul>