<ul id="wb-fix">
    <li class="quest-fix-item">
        <span class="name-quest">Justin Alspore : </span>
        <ul>
            <li>X : 178.000 | Y : 220.000</li>
            <li>X : 55.000 | Y : 350.000</li>
        </ul>
        <div class="map-img">
            <img src="" />
        </div>
    </li>
    <li class="quest-fix-item">
        <span class="name-quest">Papineau : </span>
        <ul>
            <li>X : 290.000 | Y : 110.000</li>
            <li>X : 265.000 | Y : 490.000</li>
        </ul>
        <div class="map-img">
            <img src="" />
        </div>
    </li>
    <li class="quest-fix-item">
        <span class="name-quest">Mandrogore :</span>
        <ul>
            <li>X : 245.000 | Y : 525.000</li>
            <li>X : 45.000 | Y : 490.000</li>
        </ul>
        <div class="map-img">
            <img src="" />
        </div>
    </li>
    <li class="quest-fix-item">
        <span class="name-quest">Tindilos :</span>
        <ul>
            <li>X : 200.000 | Y : 75.000</li>
            <li>X : 425.000 | Y : 220.000</li>
        </ul>
        <div class="map-img">
            <img src="" />
        </div>
    </li>
    <li class="quest-fix-item">
        <span class="name-quest">Sabaster :</span>
        <ul>
            <li>X : 485.000 | Y : 405.000</li>
            <li>X : 160.000 | Y : 85.000</li>
        </ul>
        <div class="map-img">
            <img src="" />
        </div>
    </li>
    <li class="quest-fix-item">
        <span class="name-quest">Kison :</span>
        <ul>
            <li>X : 170.000 | Y : 180.000</li>
            <li>X : 445.000 | Y : 470.000</li>
        </ul>
        <div class="map-img">
            <img src="" />
        </div>
    </li>
    <li class="quest-fix-item">
        <span class="name-quest">Ryloth :</span>
        <ul>
            <li>X : 250.000 | Y : 410.000</li>
            <li>X : 355.000 | Y : 70.000</li>
        </ul>
        <div class="map-img">
            <img src="" />
        </div>
    </li>
    <li class="quest-fix-item">
        <span class="name-quest">Silin :</span>
        <ul>
            <li>X : 510.000 | Y : 490.000</li>
            <li>X : 515.000 | Y : 195.000</li>
        </ul>
        <div class="map-img">
            <img src="" />
        </div>
    </li>
    <li class="quest-fix-item">
        <span class="name-quest">Gilz :</span>
        <ul>
            <li>X : 85.000 | Y : 450.000</li>
            <li>X : 305.000 | Y : 62.000</li>
        </ul>
        <div class="map-img">
            <img src="" />
        </div>
    </li>
    <li class="quest-fix-item">
        <span class="name-quest">Kekabu :</span>
        <ul>
            <li>X : 107.000 | Y : 63.000</li>
            <li>X : 505.000 | Y : 355.000</li>
        </ul>
        <div class="map-img">
            <img src="" />
        </div>
    </li>
    <li class="quest-fix-item">
        <span class="name-quest">Kikino :</span>
        <ul>
            <li>X : 470.000 | Y : 225.000</li>
            <li>X : 151.000 | Y : 75.000</li>
        </ul>
        <div class="map-img">
            <img src="" />
        </div>
    </li>
    <li class="quest-fix-item">
        <span class="name-quest">Oberon :</span>
        <ul>
            <li>X : 268.000 | Y : 346.000</li>
            <li>X : 101.000 | Y : 70.000</li>
        </ul>
        <div class="map-img">
            <img src="" />
        </div>
    </li>
    <li class="quest-fix-item">
        <span class="name-quest">Ecorce Terrestre :</span>
        <ul>
            <li>X : 50.000 | Y : 435.000</li>
            <li>X : 430.000 | Y : 70.000</li>
        </ul>
        <div class="map-img">
            <img src="" />
        </div>
    </li>
    <li class="quest-fix-item">
        <span class="name-quest">Volesang :</span>
        <ul>
            <li>X : 60.000 | Y : 525.000</li>
            <li>X : 105.000 | Y : 160.000</li>
        </ul>
        <div class="map-img">
            <img src="" />
        </div>
    </li>
</ul>