{% extends "/base.html.twig" %}

 {% block body %}
     <section class="section section-1">

         <h1 class="section-1-title">UNE BONNE COMMUNICATION
             POUR UNE MEILLEUR VISIBILITÉ</h1>

         <img src="https://ibrahim-sow.com/img/communication.png" alt="communication" class="section-1-img">

         <p class="section-1-content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor iste magni nostrum quasi quidem quos reiciendis. Aspernatur doloremque error explicabo facilis fugit, nostrum quasi. Eius maiores omnis totam. Consequatur, temporibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius fugiat molestiae nostrum obcaecati, sunt vel vitae? Doloremque esse maiores provident quidem similique? Aperiam cumque eaque error facilis laborum officia totam.
         </p>

     </section>
 {% endblock %}

