{% extends "/base.html.twig" %}

 {% block body %}
     <section class="section section-2">

         <h1 class="section-2-title">Donnez vie à vos projets</h1>

         <div class="princing-card">
             <div class="princing-card-header">
                 <div class="label">Site Web</div>
                 <div class="description">À PARTIR DE</div>
                 <div class="price">700€ HT</div>
             </div>

             <div class="princing-card-content">
                 <div class="items">Lorem ipsum dolor sit amet</div>
                 <div class="items">Consectetur</div>
                 <div class="items">Lorem ipsum dolor sit amet</div>
                 <div class="items">Consectetur</div>
                 <div class="items">Lorem ipsum dolor sit amet</div>
                 <div class="items">Consectetur</div>
             </div>

             <div class="princing-card-buttons">
                 <button class="btn-princing-card">Demander un devis</button>
             </div>

         </div>

         <div class="princing-card">
             <div class="princing-card-header">
                 <div class="label">Site Web</div>
                 <div class="description">À PARTIR DE</div>
                 <div class="price">700€ HT</div>
             </div>

             <div class="princing-card-content">
                 <div class="items">Lorem ipsum dolor sit amet</div>
                 <div class="items">Consectetur</div>
                 <div class="items">Lorem ipsum dolor sit amet</div>
                 <div class="items">Consectetur</div>
                 <div class="items">Lorem ipsum dolor sit amet</div>
                 <div class="items">Consectetur</div>
             </div>

             <div class="princing-card-buttons">
                 <button class="btn-princing-card">Demander un devis</button>
             </div>

         </div>

         <div class="princing-card">
             <div class="princing-card-header">
                 <div class="label">Site Web</div>
                 <div class="description">À PARTIR DE</div>
                 <div class="price">700€ HT</div>
             </div>

             <div class="princing-card-content">
                 <div class="items">Lorem ipsum dolor sit amet</div>
                 <div class="items">Consectetur</div>
                 <div class="items">Lorem ipsum dolor sit amet</div>
                 <div class="items">Consectetur</div>
                 <div class="items">Lorem ipsum dolor sit amet</div>
                 <div class="items">Consectetur</div>
             </div>

             <div class="princing-card-buttons">
                 <button class="btn-princing-card">Demander un devis</button>
             </div>

         </div>

     </section>
 {% endblock %}

