<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}{% endblock %}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/icons.css">
    <link rel="stylesheet" href="css/eden/style.css">

    <script src="http://www.dynamicpress.eu/envato/activia_main/wp-content/cache/busting/1/envato/activia_main/wp-includes/js/jquery/jquery-1.12.4-wp.js"></script>
    <script src="https://nicescroll.areaaperta.com/wp-content/plugins/jnicescroll/js/jquery.nicescroll.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"></script>

    <script type="text/javascript">
        
        var captcha = null;

        var verifyCallback = function(response) {
            alert(response);
        };

        var onloadCallback = function() {	

            captcha = grecaptcha.render('example3', {
                'sitekey' : '6Lc8KL0ZAAAAADLn0P34EMBbHb-WIX55bUYoxYl4',
                'callback' : verifyCallback,
                'theme' : 'dark'
            });
            
        };

    </script>

</head>
<body>

{% block header %}
    
    <div class="header">
        {% include 'front-end/eden/navgiation/navigation.html.twig' %}
    </div>

    <div class="main-img">
        
    </div>

{% endblock %}

<div class="main">
    {% block body %}

        <div class="main-content">

            <div class="corner top-left-corner-box"></div>
            <div class="corner top-right-corner-box"></div>
            <div class="corner bottom-left-corner-box"></div>
            <div class="corner bottom-right-corner-box"></div>

            <div class="border-box top-border-box"></div>
            <div class="border-box bottom-border-box"></div>
            <div class="border-box left-border-box"></div>
            <div class="border-box right-border-box"></div>
            
            <p>En construction</p>

                <input type="email" id="email" name="email" placeholder="Entrez le nom de compte" />

                <input type="text" id="username" name="username" placeholder="Entrez le nom de compte" />

                <input type="password" id="password" name="password" placeholder="Entrez votre mot de passe" />

                <input type="password" id="confirmpassword" name="confirmpassword" placeholder="Confirmer le mot de passe" />

                <div id="example3"></div>

                <button id="captcha-button" onclick="getCaptcha()">Captcha</button>

                <button id="register-button" onclick="register()">Register</button>

            

        </div>

    {% endblock %}
</div>

<div class="footer">

    {% include 'front-end/eden/footer/footer.html.twig' %}

</div>

{% block javascripts %}

    <script>

        jQuery(".main").niceScroll();

        function getCaptcha() {
            console.log(grecaptcha.getResponse(captcha));
        };

        function register() {
            
            var xhr = jQuery.ajax({
                type: "POST",
                url: "/api/users/register",
                data: {

                },
                dataType: "json"
            });

            xhr.done(function(data) {
                console.Log("Done : ");
                consle.log(data);
            }).fail(function(data) {
                console.Log("Fail : ");
                consle.log(data);
            });

            console.log("register");
        };

    </script>

{% endblock %}
</body>
</html>
