{% block body %}
    <div class="section-2">

        <h1>
            What we can do for us ?
        </h1>

        <div class="sub-title">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis Theme natoque
        </div>

        <div class="card-container">

            <div class="card">

                <div class="icon">
                    <span class="icon-dribbble"></span>
                </div>

                <div class="title">
                    Games
                </div>

                <div class="description">
                    Curabitur laoreet ex turpis. Vestibulum sit amet blan augue, sit amet vehicula mi. Aliquam vitae varius
                </div>

                <div class="small-button">
                    <a class="link">
                        Read more
                    </a>
                </div>

            </div>

            <div class="card">

                <div class="icon">
                    <span class="icon-html-five"></span>
                </div>

                <div class="title">
                    Technologies
                </div>

                <div class="description">
                    Curabitur laoreet ex turpis. Vestibulum sit amet blan augue, sit amet vehicula mi. Aliquam vitae varius
                </div>

                <div class="small-button">
                    <a class="link">
                        Read more
                    </a>
                </div>

            </div>

            <div class="card">

                <div class="icon">
                    <span class="icon-headphones"></span>
                </div>

                <div class="title">
                    Music
                </div>

                <div class="description">
                    Curabitur laoreet ex turpis. Vestibulum sit amet blan augue, sit amet vehicula mi. Aliquam vitae varius
                </div>

                <div class="small-button">
                    <a class="link">
                        Read more
                    </a>
                </div>

            </div>

            <div class="card">

                <div class="icon">
                    <span class="icon-calendar"></span>
                </div>

                <div class="title">
                    Booking
                </div>

                <div class="description">
                    Curabitur laoreet ex turpis. Vestibulum sit amet blan augue, sit amet vehicula mi. Aliquam vitae varius
                </div>

                <div class="small-button">
                    <a class="link">
                        Read more
                    </a>
                </div>

            </div>
        </div>

    </div>
{% endblock %}
