{% block body %}
    <div class="section-1">

        <div class="section-content">
            <div class="title">
                <h1>Lorem ipsum dolor sit <span class="" style="color: rgb(240, 73, 35)">amet</span>, <br /> <span class="" style="color: rgb(240, 73, 35)">consectetur</span> adipisicing elit</h1>
            </div>
            <div class="text-wrapper">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br />
                Accusamus dolores ducimus minus odio voluptatibus
            </div>
            <div class="button">
                <a class="link">
                    Read more
                </a>
            </div>

        </div>

    </div>
{% endblock %}