<div class="announce-content">
    <h2>
        Bienvenue sur edeneteral.to !
    </h2>

    <p>
        Bonjour à tous et bienvenue !
    </p>

    <p>
        L'équipe edeneternal.to espère que vous apprécierez votre expérience au sein de ce nouveau serveur.
    </p>

    <p>
        Configuration du serveur
    </p>

    <ul>
        <li>- Taux d'exp personnage : * 2 </li>
        <li>- Taux d'exp classe : * 2 </li>
        <li>- Taux de loot : custom </li>
        <li>- Taux de gold : * 2 </li>
    </ul>

    <p>
        Welcome everyone !
    </p>

    <p>
        The edeneternal.to team hopes you enjoy your experience on this new server.
    </p>

    <p>
        Server configuration
    </p>

    <ul>
        <li>- Exp rate * 2 </li>
        <li>- Class exp rate * 2 </li>
        <li>- Drop rate : custom </li>
        <li>- Gold rate * 2 </li>
    </ul>
</div>