<nav class="navigation">

    <ul>

        <li class="nav-items">
            <a href="">Accueil</a>
        </li>
        
        <li class="nav-items right">
            <a href="">Se connecter</a>
        </li>

        <li class="nav-items right">
            <a href="">Créer un compte</a>
        </li>
    </ul>

</nav>