<nav class="navigation">

    <ul>

        <li class="nav-items">
            <a href="/">Accueil</a>
        </li>

        <li class="nav-items">
            <a href="/packs">Packs</a>
        </li>

        <li class="nav-items">
            <a href="/patchs">Patchs</a>
        </li>

        {% if user is defined and  user['username'] is defined and  user['username'] != null %}
            <li class="nav-items right">
                <a href="/logout">Se déconnecter</a>
            </li>

            <li class="nav-items right">
                <a href="#">Mon compte ({{ user['username'] }})</a>
            </li>
        {% else %}
            <li class="nav-items right">
                <a href="/register">Créer un compte</a>
            </li>

            <li class="nav-items right">
                <a href="/login">Se connecter</a>
            </li>
        {% endif %}
    </ul>

</nav>