<nav class="navigation">

    <ul>

        <li class="nav-items">
            <a href="/home">Accueil</a>
        </li>

        <li class="nav-items">
            <a href="/download">Téléchargement</a>
        </li>


        {% if user is defined and  user['username'] is defined and  user['username'] != null %}

            <li class="nav-items right">
                <a href="/logout">Se déconnecter</a>
            </li>

            <li class="nav-items right">
                <a href="/account">Mon compte ({{ user['username'] }})</a>
            </li>
        {% else %}
            <li class="nav-items right">
                <a href="/register">Créer un compte</a>
            </li>

            <li class="nav-items right">
                <a href="/login">Se connecter</a>
            </li>
        {% endif %}
    </ul>

</nav>